.btn-primary {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-width: 2px;
  border-radius: 9999px;
  font-weight: 600;
  outline: 2px solid transparent;
  outline-offset: 2px;
  border-color: blueviolet;
  background-color: rgba(138, 43, 236, 0.7);
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.btn-secondary {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-width: 2px;
  border-radius: 9999px;
  font-weight: 600;
  outline: 2px solid transparent;
  outline-offset: 2px;
  background-color: white;
  border-color: blueviolet;
  color: blueviolet;
}

.btn-common {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-width: 2px;
  border-radius: 9999px;
  font-weight: 600;
  outline: 2px solid transparent;
  outline-offset: 2px;
  background-color: rgba(173, 255, 57, 0.4);
  border-color: green;
  color: green;
}
