<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Feedback 5 DEC</title>
</head>

<body>
    <h3 style="text-shadow: 1px 1px 2px gainsboro;">Introduzca los datos del vehículo <br> que desee retirar:</h3>
    <form action="/checkOut" method="POST">
        <label for="marca">Marca
            <input type="text" id="marca" name="marca" required></label>
        <label for="modelo">Modelo
            <input type="text" id="modelo" name="modelo" required></label>
        <label for="matricula">Matricula
            <input type="text" id="matricula" name="matricula" required></label><br>
        <input class="submit" name="OUT" type="submit" value="RETIRAR VEHICULO"><br>
    </form>
</body>

</html>