* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #7CB9E8
}

h1 {
    text-align: center;
    text-shadow: rgba(255, 255, 255, 0.312) 0px 3px 8px;
}

input, textarea {
    width: 265px;
    margin-top: 3px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

form {
    width: 280px;
    margin: auto;
}

button, legend {
    margin-top: 15px;
    height: 30px;
    width: 135px;
    cursor: pointer;
    transition: all 1s ease;
    border-radius: 1rem;
    font-size: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

fieldset {
    margin: auto;
    height: 500px;
    width: 480px;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgb(203, 200, 244) 25%, rgba(133, 133, 223, 1) 51%, rgba(0, 213, 255, 0.501) 100%);
    border-color: black;
    border-radius: 1rem;

}