body {
    background-image: url(./assets/img/mapa-mundi.jpeg);
    background-position: 40% 45%;
    justify-content: center;
}

button {
    margin-left: 10%;
    margin-top: 10px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: larger;
    border: solid 2px;
    background-color: gainsboro;
    border-radius: 12px;
    box-shadow: 0 0 10px #efecec;
    transition-duration: 0.4s;
}

button:hover {
    color: #5f87ff;
    background-color: whitesmoke;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

button:active {
    color: lightblue;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-color: aliceblue;
    width: 100%;
    margin: auto;
}

table {
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    margin-top: 2%;
    height: 40%;
    width: 100%;
}

tbody {
    background-color: gainsboro;
}

div {
    margin-left: 100px;
    margin-right: auto;
    display: block;
}

#countries {
    background-color: #D4AF37;
    width: 10%;
    height: 60%;
    text-align: center;
    text-shadow: 0 0 2px #efecec;
    margin: auto;
}

#cities {
    background-color: #c26100;
    width: 50%;
    height: 60%;
    text-shadow: 0 0 2px #efecec;
    margin: auto;
}