body {
    background-image: url(./assets/img/dark-gray.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-size: 100%;
}

div {
    font-family: 'Roboto', sans-serif;
    font-size: larger;
    color: aliceblue;
    margin-top: 5px;
    padding: 0%;
    justify-content: center;
    text-align: center;
}

input {
    margin-top: 25px;
    font-size: larger;
    color: aliceblue;
}

h1, p {
    background-color: aliceblue;
    margin-left: 20%;
    margin-right: 20%;
    color: black;
    text-align: center;

}

#lab1 {
    font-size: xx-large;
}